.splide__pagination__page {
  width: 10px;
  height: 5px;
  border-radius: 2px;
}

.slider-wrapper {
  width: calc(100% + 30px);
  padding: 0 15px;
  margin-left: -15px;
  overflow: hidden;
  background: red;
}
